{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flappy Bird Clone</title>
  <link rel="stylesheet" href="{% static 'flappy_bird.css' %}">
</head>
<body>
  <div class="score">Score: 0</div>
  <button class="reset-button">Restart</button>
  <canvas id="gameCanvas" width="700" height="500"></canvas>
  <div class="game-over-message" style="display: none;">Game Over! Your score was: <span class="final-score"></span></div>
  <script src="{% static 'flappy_bird.js' %}"></script>
</body>
</html>
