body {
    margin: 0;
    padding: 0;
    background: #70c5ce;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
  }
  
  canvas {
    background: linear-gradient(to bottom, #70c5ce, #ffffff);
    display: block;
    border: 2px solid #000;
  }
  .reset-button {
    position: absolute;
    top: 60px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #ff5722;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px 2px #000;
  }

  .reset-button:hover {
    background-color: #e64a19;
  }
  
  .score {
    position: absolute;
    top: 20px;
    font-size: 24px;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
  }
